<div class="card border-0 shadow mb-4 mb-md-0">
    <div class="card-body">
        <ul class="list-unstyled ps-0 m-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse" data-bs-target="#inicio" aria-expanded="true">
                    Início
                </button>
                <div class="collapse show" id="inicio">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#introducao" class="link-dark rounded">Introdução</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse" data-bs-target="#controle-versao" aria-expanded="true">
                    Controle de Versão
                </button>
                <div class="collapse" id="controle-versao">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#controle-versao-git" class="link-dark rounded">Git</a></li>
                        <li><a href="#controle-versao-github" class="link-dark rounded">Github</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse" data-bs-target="#dashboard-collapse"
                    aria-expanded="false">
                    Testes
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#testes-tdd" class="link-dark rounded">TDD</a></li>
                        <li><a href="#testes-pytest" class="link-dark rounded">Pytest</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    Flask Framework
                </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#flask-framework" class="link-dark rounded">Sobre</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>